Brilliantech.Packaging.UI.WorkStation/Service References/LabelDataService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.WS" />
  <xs:element name="PrintCloseLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCloseLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.WS" minOccurs="0" name="PrintCloseLabelResult" nillable="true" type="q1:PrintDataMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintUnfullLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintUnfullLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.WS" minOccurs="0" name="PrintUnfullLabelResult" nillable="true" type="q2:PrintDataMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOpenLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOpenLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.WS" minOccurs="0" name="PrintOpenLabelResult" nillable="true" type="q3:PrintDataMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>