Brilliantech.Packaging.UI.WorkStation/Service References/LabelDataService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrintService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.WS" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Brilliantech.Framework.WCF.Data" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Brilliantech.ReportGenConnector" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrintService_PrintCloseLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintCloseLabel" />
  </wsdl:message>
  <wsdl:message name="IPrintService_PrintCloseLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintCloseLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintService_PrintUnfullLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintUnfullLabel" />
  </wsdl:message>
  <wsdl:message name="IPrintService_PrintUnfullLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintUnfullLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintService_PrintOpenLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintOpenLabel" />
  </wsdl:message>
  <wsdl:message name="IPrintService_PrintOpenLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintOpenLabelResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrintService">
    <wsdl:operation name="PrintCloseLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintService/PrintCloseLabel" message="tns:IPrintService_PrintCloseLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintService/PrintCloseLabelResponse" message="tns:IPrintService_PrintCloseLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintUnfullLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintService/PrintUnfullLabel" message="tns:IPrintService_PrintUnfullLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintService/PrintUnfullLabelResponse" message="tns:IPrintService_PrintUnfullLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintOpenLabel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintService/PrintOpenLabel" message="tns:IPrintService_PrintOpenLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintService/PrintOpenLabelResponse" message="tns:IPrintService_PrintOpenLabel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrintService" type="tns:IPrintService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrintCloseLabel">
      <soap:operation soapAction="http://tempuri.org/IPrintService/PrintCloseLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintUnfullLabel">
      <soap:operation soapAction="http://tempuri.org/IPrintService/PrintUnfullLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintOpenLabel">
      <soap:operation soapAction="http://tempuri.org/IPrintService/PrintOpenLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrintService">
    <wsdl:port name="BasicHttpBinding_IPrintService" binding="tns:BasicHttpBinding_IPrintService">
      <soap:address location="http://localhost:8080/labelService/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>