masterDataManagement/Service References/packSvc/Brilliantech.Packaging.WS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.WS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.WS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.Data" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Brilliantech.Framework.WCF.Data" />
  <xs:complexType name="PackageMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Brilliantech.Framework.WCF.Data" base="q1:ServiceMessage">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Brilliantech.Packaging.Data" minOccurs="0" name="Package" nillable="true" type="q2:SinglePackage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageMessage" nillable="true" type="tns:PackageMessage" />
  <xs:complexType name="ArrayOfEnumObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnumObject" nillable="true" type="tns:EnumObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnumObject" nillable="true" type="tns:ArrayOfEnumObject" />
  <xs:complexType name="EnumObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="EnumKey" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="EnumValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnumObject" nillable="true" type="tns:EnumObject" />
</xs:schema>